body {
  text-align: center;
}
.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 5px solid black;
  margin: 1.5rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.red {
  background-color: #991020;
}
.yellow {
  background-color: #9cb50fef;
}
.green {
  background-color: #0db72ce4;
}
.purple {
  background-color: #761374bf;
}
.gameflash {
  background-color: #fff;
}

.userflash {
  background-color: rgb(221, 25, 208);
}
